# Moscow Marathon Full Results 2018


## 1_full_results_mm_2018.csv

Columns : {Bib, finish_time_sec, finish_time_result, race, pace_sec, pace(minpkm), pace(kmph), half_pace_sec, half_pace(minpkm), half_pace(kmph), gender_en, agev name_en, location_city_ru, location_city_en, country_code_alpha_3, flag_DNF, flag_all_split_exist, race_uniform_index}

Data : {1, 8911, 2h 28min 31sec, 42.195 km, 211.1861595, 3:31 min/km 17.0 km/h, 208.3185212, 3:28 min/km, 17.3 km/h, Female, 30, Sardana Trofimova, ‚Äì√ò‚Äì‚à´‚Äî√â‚Äî√á‚Äî√Ö‚Äì‚à´, Yakutsk, RUS, 0, 1, 0.000132899}

## 1_split_results_mm_2018.csv

Columns : {bib, split_name, split, split_time_sec, split_time_result, split_pace_sec, split_pace(minpkm), split_pace(kmph), split_uniform_index}

Data : {11, Kirui, Geoffrey, 24, M, Keringet, KEN, 0:15:25, 0:30:28, 0:45:44, 1:01:15, 1:04:35, 1:16:59, 1:33:01, 1:48:19, 2:02:53, 0:04:57, - 2:09:37, 1, 1, 11}

In [143]:
from datetime import datetime
import numpy as np
import pandas as pd
import seaborn as sns
import pandas as pd

import sklearn as sk
import sklearn.tree as tree
from IPython.display import Image

In [145]:
full_df  = pd.read_csv('./data/1_full_results_mm_2018.csv')
split_df = pd.read_csv('./data/1_split_results_mm_2018.csv')

In [147]:
full_df.head()

,bib,finish_time_sec,finish_time_result,race,pace_sec,pace(minpkm),pace(kmph),half_pace_sec,half_pace(minpkm),half_pace(kmph),gender_en,age,name_en,location_city_ru,location_city_en,country_code_alpha_3,flag_DNF,flag_all_split_exist,race_uniform_index
0,1,8911.0,2h 28min 31sec,42.195 km,211.186159,3:31 min/km,17.0 km/h,208.318521,3:28 min/km,17.3 km/h,Female,30,Sardana Trofimova,–Ø–∫—É—Ç—Å–∫,Yakutsk,RUS,0,1,0.000133
1,2,9308.0,2h 35min 08sec,42.195 km,220.594857,3:40 min/km,16.3 km/h,212.157839,3:32 min/km,17.0 km/h,Female,35,Tat'yana Arkhipova,–ß–µ–±–æ–∫—Å–∞—Ä—ã,Cheboksary,RUS,0,1,0.002556
2,3,8122.0,2h 15min 22sec,42.195 km,192.487262,3:12 min/km,18.7 km/h,189.880318,3:09 min/km,19.0 km/h,Male,31,Stepan Kiselev,–ö–∞–∑–∞–Ω—å,Kazan',RUS,0,1,0.000397
3,4,8467.0,2h 21min 07sec,42.195 km,200.663586,3:20 min/km,17.9 km/h,186.894182,3:06 min/km,19.3 km/h,Male,36,Dmitriy Safronov,–ú–æ—Å–∫–≤–∞,Moskva,RUS,0,1,0.009003
4,5,8738.0,2h 25min 38sec,42.195 km,207.086148,3:27 min/km,17.4 km/h,194.904610,3:14 min/km,18.5 km/h,Male,42,Grigoriy Andreev,–£—Ñ–∞,Ufa,RUS,0,1,0.006439

In [149]:
split_df.head()

,bib,split_name,split,split_time_sec,split_time_result,split_pace_sec,split_pace(minpkm),split_pace(kmph),split_uniform_index
0,1,5 km,5.0000,1057,17min 37sec,211.400000,3:31 min/km,17.0 km/h,1.214334e-07
1,1,10 km,10.0000,2112,35min 12sec,211.000000,3:30 min/km,17.1 km/h,1.017882e-09
2,1,15 km,15.0000,3149,52min 29sec,207.400000,3:27 min/km,17.4 km/h,1.254794e-05
3,1,Half marathon,21.0975,4395,1h 13min 15sec,204.346043,3:24 min/km,17.6 km/h,9.282250e-05
4,1,25 km,25.0000,5258,1h 27min 38sec,221.140295,3:41 min/km,16.3 km/h,9.987022e-06

In [151]:
# Íµ¨Í∞ÑÎ≥Ñ split ÏãúÍ∞Ñ pivot
split_time = split_df.pivot_table(index='bib', columns='split_name', values='split_time_sec')
split_time.columns = [col.replace(' ', '').replace('km', 'K') if 'km' in col else col.lower() for col in split_time.columns]
split_time.reset_index(inplace=True)

In [153]:
# pace(p) Îç∞Ïù¥ÌÑ∞Î•º "Î∂Ñ:Ï¥à" Î¨∏ÏûêÏó¥Î°ú wide-format ÏÉùÏÑ±
def sec_to_minsec(sec):
    if pd.isnull(sec):
        return None
    minutes = int(sec // 60)
    seconds = int(sec % 60)
    return f"{minutes}:{seconds:02d}"

In [155]:
# split_pace_sec ‚Üí wide-format + Î¨∏ÏûêÏó¥ Î≥ÄÌôò
split_pace = split_df.pivot_table(index='bib', columns='split_name', values='split_pace_sec')
split_pace.columns = [col.replace(' km', '').replace('Half marathon', '21').replace('Marathon', '42') + 'p' for col in split_pace.columns]
split_pace = split_pace.applymap(sec_to_minsec)
split_pace.reset_index(inplace=True)

/var/folders/6m/mc6f2cbd0y96kqwywtrhvss40000gn/T/ipykernel_75190/2134712935.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  split_pace = split_pace.applymap(sec_to_minsec)

In [157]:
# full_dfÏóêÏÑú ÌïÑÏöîÌïú Ïª¨Îüº Ï†ïÎ¶¨
rename_map = {
    'bib': 'Bib',
    'name_en': 'Name',
    'age': 'Age',
    'gender_en': 'M/F',
    'location_city_en': 'City',
    'country_code_alpha_3': 'Country',
    'finish_time_sec': 'Official Time Sec'
}
reduced_df = full_df[list(rename_map.keys())].rename(columns=rename_map)

# ÏãúÍ∞Ñ(hh:mm:ss) Ï∂îÍ∞Ä
reduced_df['Official Time Hour'] = pd.to_timedelta(reduced_df['Official Time Sec'], unit='s')

In [159]:
# Îç∞Ïù¥ÌÑ∞ Î≥ëÌï©
merged = reduced_df.merge(split_time, how='left', left_on='Bib', right_on='bib')
merged = merged.merge(split_pace, how='left', on='bib')
merged.drop(columns=['bib'], inplace=True)

In [161]:
# Ï†ïÎ†¨ Î∞è Ï∂úÎ†• ÌôïÏù∏
columns_order = ['Bib', 'Name', 'Age', 'M/F', 'City', 'Country'] + \
                ['5K', '10K', '15K', '20K', '25K', '30K', '35K', '40K', 'Marathon'] + \
                ['Official Time Hour'] + \
                ['5p', '10p', '15p', '20p', '21p', '25p', '30p', '35p', '40p', '42p']

# Ïª¨Îüº ÎàÑÎùΩ Î∞©ÏßÄ (Ï°¥Ïû¨ÌïòÎäî Ïª¨ÎüºÎßå Ìè¨Ìï®)
columns_order = [col for col in columns_order if col in merged.columns]

# Í≤∞Í≥º Ï†ÄÏû• or Ï∂úÎ†•
final_df = merged[columns_order]
print(final_df.head())

   Bib                Name  Age     M/F        City Country      5K     10K  \
0    1   Sardana Trofimova   30  Female     Yakutsk     RUS  1057.0  2112.0
1    2  Tat'yana Arkhipova   35  Female  Cheboksary     RUS  1059.0  2115.0
2    3      Stepan Kiselev   31    Male      Kazan'     RUS   947.0  1899.0
3    4    Dmitriy Safronov   36    Male      Moskva     RUS   945.0  1876.0
4    5    Grigoriy Andreev   42    Male         Ufa     RUS   976.0  1958.0

      15K     25K  ...  Official Time Hour    5p   10p   15p   21p   25p  \
0  3149.0  5258.0  ...     0 days 02:28:31  3:31  3:31  3:27  3:24  3:41
1  3188.0  5386.0  ...     0 days 02:35:08  3:31  3:31  3:34  3:31  3:53
2  2867.0  4796.0  ...     0 days 02:15:22  3:09  3:10  3:13  3:06  3:22
3  2814.0  4752.0  ...     0 days 02:21:07  3:09  3:06  3:07  3:05  3:27
4  2933.0  4949.0  ...     0 days 02:25:38  3:15  3:16  3:15  3:13  3:34

    30p   35p   40p   42p
0  3:32  3:28  3:36  3:33
1  3:44  3:40  3:55  3:58
2  3:18  2:49  3:34  3:10
3  3:25  3:29  3:48  3:47
4  3:33  3:33  3:51  3:49

[5 rows x 23 columns]

In [163]:
# M/FÎ°ú ÌëúÏ§ÄÌôî
final_df['M/F'] = final_df['M/F'].map({'Male': 'M', 'Female': 'F'})

/var/folders/6m/mc6f2cbd0y96kqwywtrhvss40000gn/T/ipykernel_75190/3973932359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['M/F'] = final_df['M/F'].map({'Male': 'M', 'Female': 'F'})

In [165]:
total_participants = len(final_df)
print(f"Ï¥ù ÎßàÎùºÌÜ§ Ï∞∏Í∞ÄÏûê Ïàò: {total_participants}Î™Ö")

Ï¥ù ÎßàÎùºÌÜ§ Ï∞∏Í∞ÄÏûê Ïàò: 21662Î™Ö

In [167]:
print(final_df.head())

   Bib                Name  Age M/F        City Country      5K     10K  \
0    1   Sardana Trofimova   30   F     Yakutsk     RUS  1057.0  2112.0
1    2  Tat'yana Arkhipova   35   F  Cheboksary     RUS  1059.0  2115.0
2    3      Stepan Kiselev   31   M      Kazan'     RUS   947.0  1899.0
3    4    Dmitriy Safronov   36   M      Moskva     RUS   945.0  1876.0
4    5    Grigoriy Andreev   42   M         Ufa     RUS   976.0  1958.0

      15K     25K  ...  Official Time Hour    5p   10p   15p   21p   25p  \
0  3149.0  5258.0  ...     0 days 02:28:31  3:31  3:31  3:27  3:24  3:41
1  3188.0  5386.0  ...     0 days 02:35:08  3:31  3:31  3:34  3:31  3:53
2  2867.0  4796.0  ...     0 days 02:15:22  3:09  3:10  3:13  3:06  3:22
3  2814.0  4752.0  ...     0 days 02:21:07  3:09  3:06  3:07  3:05  3:27
4  2933.0  4949.0  ...     0 days 02:25:38  3:15  3:16  3:15  3:13  3:34

    30p   35p   40p   42p
0  3:32  3:28  3:36  3:33
1  3:44  3:40  3:55  3:58
2  3:18  2:49  3:34  3:10
3  3:25  3:29  3:48  3:47
4  3:33  3:33  3:51  3:49

[5 rows x 23 columns]

In [171]:
# Í≤∞Ï∏°Ïπò Í∞úÏàò ÌôïÏù∏
missing = final_df.isnull().sum()
missing = missing[missing > 0]
print("Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Ïª¨Îüº:")
print(missing.sort_values(ascending=False))

üîç Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Ïª¨Îüº:
42p                   12960
35K                   12957
35p                   12957
40K                   12946
40p                   12946
30p                   12932
30K                   12932
21p                   12865
25K                   12863
25p                   12863
15K                   12756
15p                   12756
Official Time Hour      277
5K                      121
5p                      121
10p                     120
10K                     120
dtype: int64

In [173]:
# Í≤∞Ï∏°ÏπòÍ∞Ä ÌïòÎÇòÎùºÎèÑ ÏûàÎäî Ìñâ Ï†úÍ±∞
clean_df = final_df.dropna()

# 1Î∂ÄÌÑ∞ ÏãúÏûëÌïòÎäî ÏÉàÎ°úÏö¥ Ïù∏Îç±Ïä§ Ïª¨Îüº Ï∂îÍ∞Ä
clean_df.insert(0, 'No', range(1, len(clean_df) + 1))

# ÌôïÏù∏
print(clean_df.head())

   No  Bib                Name  Age M/F        City Country      5K     10K  \
0   1    1   Sardana Trofimova   30   F     Yakutsk     RUS  1057.0  2112.0
1   2    2  Tat'yana Arkhipova   35   F  Cheboksary     RUS  1059.0  2115.0
2   3    3      Stepan Kiselev   31   M      Kazan'     RUS   947.0  1899.0
3   4    4    Dmitriy Safronov   36   M      Moskva     RUS   945.0  1876.0
4   5    5    Grigoriy Andreev   42   M         Ufa     RUS   976.0  1958.0

      15K  ...  Official Time Hour    5p   10p   15p   21p   25p   30p   35p  \
0  3149.0  ...     0 days 02:28:31  3:31  3:31  3:27  3:24  3:41  3:32  3:28
1  3188.0  ...     0 days 02:35:08  3:31  3:31  3:34  3:31  3:53  3:44  3:40
2  2867.0  ...     0 days 02:15:22  3:09  3:10  3:13  3:06  3:22  3:18  2:49
3  2814.0  ...     0 days 02:21:07  3:09  3:06  3:07  3:05  3:27  3:25  3:29
4  2933.0  ...     0 days 02:25:38  3:15  3:16  3:15  3:13  3:34  3:33  3:33

    40p   42p
0  3:36  3:33
1  3:55  3:58
2  3:34  3:10
3  3:48  3:47
4  3:51  3:49

[5 rows x 24 columns]

In [177]:
# Í≤∞Ï∏°Ïπò Í∞úÏàò ÌôïÏù∏
missing = clean_df.isnull().sum()
missing = missing[missing > 0]
print("Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Ïª¨Îüº:")
print(missing.sort_values(ascending=False))

üîç Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Ïª¨Îüº:
Series([], dtype: int64)